/**
 * LabintheWild study template
 *
 * authors: Krzysztof Gajos
 */

/* remove callout menu functionality */
* {
    -webkit-touch-callout: none;
}

body {
    margin: 5px;
    padding: 0;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #222;
}

a:link, a:visited, a:hover {
    text-decoration:none;
    color:#0099cc;
}

a:active {
    color: #003b4e;
}

.logo { float: left; margin-top: 30px; margin-bottom: 15px; }

.share_text { float:right; margin-top:15px; font-size: 13px; color:#888; }
.share_this { clear:right; float: right; margin-top: 5px; }

.separator {
    margin-top: 31px;
    margin-bottom: 20px;
    height: 10px;
    clear: both;
    display: block;
    width: 100%;
    border-top: 2px dotted #366;
}

img, a img {
    border: none;
}

.page {
    display: block;
}

.header {
    display: block;
}

.w800 {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#demographics_page label {
    font-weight: normal;
}

#comments_page label {
    font-weight: normal;
}

.likert input[type=radio] {
    margin-left: 5px;
    margin-right: 5px;
}

.likert label {
    font-weight: normal;
    font-style: italic;
}

.option-set-header {
    font-weight: bold;
    margin-top: 24px;
}

#dynamicIA {
    position:relative;
    width: 800px;
    height: 800px;
    border: 3px solid #000000;
}
#v1 {
    position:absolute;
    width: 200px;
    height: 200px;
    top:300px;
    left:300px;
    border: 3px solid #73AD21;
}#v2 {
    position:absolute;
    width: 200px;
    height: 300px;
    top:0px;
    left:300px;
    border: 3px solid #73AD21;
}#v3 {
    position:absolute;
    width: 200px;
    height: 60%;
    top:0;
    left:100px;
    border: 3px solid #73AD21;
}#v4 {
    position:absolute;
    width: 200px;
    height: 40%;
    top:60%;
    left:100px;
    border: 3px solid #73AD21;
}#v5 {
    position:absolute;
    width: 100px;
    height: 500px;
    top:0;
    left:0;
    border: 3px solid #73AD21;
}