/* COLORS*/

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --acceptable: #fea410;
  --good: #ffda9f;
  --unacceptable: #fc3466;
  --vgood: #21cb8a;
  --button-default: #fbf7f6;
  --button-selected: #fff8b6;
  --component-card: #242e66;
  --user-card: #06124f;
  --grid: #7d7d7d;
  --labels: #bababa;
  --background: #1d275b;
}

/* TEXT STYLES */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/* big titles */
.title {
  font-family: "Karla", sans-serif;
  font-size: 17px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.05;
  letter-spacing: normal;
  color: white;
}
/* all the texts */
.dida {
  font-family: "Karla", sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: 0.39px;
  color: white;
  text-transform: uppercase;
}
/* components labels and numbers */
.labels {
  font-family: "Karla", sans-serif;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: normal;
  color: var(--labels);
}

/* GLOBAL CLASSES */
.unacceptable {
  background: var(--unacceptable);
}
.acceptable {
  background: var(--acceptable);
}
.good {
  background: var(--good);
}
.vgood {
  background: var(--vgood);
}

/******** INTERFACE ELEMENTS *********/

.interface-container {
  height: 100vh;
  width: 100vw;
  background: var(--background);
  padding: 10px;
  display: flex;
}

/* LEFT SIDE */
.left-container {
  width: 20%;
  height: 100%;
  margin-right: 10px;
}
.car-card {
  width: 100%;
  background: var(--user-card);
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
  padding: 20px;
}
.answer-card {
  width: 100%;
  background: var(--user-card);
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  padding: 20px;
}
.class-list-container.first {
  margin-bottom: 25px;
}
.class-item {
  margin-top: 10px;
}
.class-bar {
  width: 100%;
  height: 9px;
  border-radius: 3px;
  margin-top: 3px;
}
.answer-card .title {
  margin-bottom: 20px;
}
.button {
  width: 100%;
  height: 43px;
  border-radius: 3px;
  background-color: var(--button-default);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.button .dida {
  color: var(--user-card);
}
.button.first {
  margin-bottom: 10px;
}
.button:hover {
  background: var(--button-selected);
}

/* RIGHT SIDE */
.right-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
div.vis-container {
  height: 50%;
  width: 500px;
  border-radius: 20px;
  background-color: var(--component-card);
  padding: 20px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
}

/******** VIZ ELEMENTS *********/
.grid {
  color: var(--grid);
  stroke: 0.5px;
}

/************** ZEPLIN/FIGMA STYLES ***************/

/** colors **/
:root {
  --lipstick: #e63366;
  --dark-pink: #d13366;
  --dark-pink-two: #bb3266;
  --light-burgundy: #a63266;
  --unacceptable-30: rgba(141, 58, 79, 0.3);
  --dirt-brown: #91693b;
  --leather: #a77532;
  --brownish-orange: #bd812a;
  --brownish-orange-two: #d28d21;
  --squash: #e89818;
  --dark-indigo: #091550;
  --pale: #fee9c7;
  --beige: #e9c99a;
  --very-light-brown: #d3b894;
  --mushroom: #bda78e;
  --stone: #a79588;
  --warm-grey: #918483;
  --greenblue-90: rgba(33, 203, 138, 0.9);
  --greenblue-80: rgba(33, 203, 138, 0.8);
  --greenblue-70: rgba(33, 203, 138, 0.7);
  --greenblue-60: rgba(33, 203, 138, 0.6);
  --greenblue-50: rgba(33, 203, 138, 0.5);
  --greyish: #a3a3a3;
  --light-burgundy-two: #a32f62;
  --dark-pink-three: #b93063;
  --dark-pink-four: #cf3164;
  --lipstick-two: #e63365;
  --butterscotch: #f9b13a;
}

.Rectangle-1 {
  width: 645px;
  height: 412px;
  border-radius: 20px;
  box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
}

.Line_4 {
  width: 615.8px;
  height: 255.7px;
  border: solid 2px var(--unacceptable);
}
.Pie_6 {
  width: 271px;
  height: 271px;
  opacity: 0.5;
  background-color: var(--unacceptable);
}
.Area_6 {
  width: 338.4px;
  height: 256.1px;
  background-color: rgba(252, 52, 102, 0.3);
}
.Bar_1_1 {
  width: 52px;
  height: 78.1px;
  background-color: var(--unacceptable);
}
.Bar_1_6 {
  width: 52px;
  height: 15.6px;
  background-color: #a63266;
}
